[submodule "pkgs/freepto-docs"]
	path = pkgs/freepto-docs
	url = https://github.com/avana-bbs/freepto-docs
[submodule "pkgs/truecrypt-anche-no"]
	path = pkgs/truecrypt-anche-no
	url = https://github.com/avana-bbs/truecrypt-anche-no
[submodule "pkgs/freepto-graphics"]
	path = pkgs/freepto-graphics
	url = https://github.com/avana-bbs/freepto-graphics
[submodule "pkgs/freepto-usb-utils"]
	path = pkgs/freepto-usb-utils
	url = https://github.com/avana-bbs/freepto-usb-utils
	branch = pask
