[Desktop Entry]
Version=1.0
Type=Application
Name=Crypt or Die
Comment=Manualetto di autodifesa dalla repressione digitale
Exec=firefox /usr/share/doc/freepto/cryptordie.html
Categories=Paranoid;
Path=
Terminal=false
StartupNotify=false
Icon=freepto.ico
