[Desktop Entry]
Version=1.0
Type=Application
Name=Freepto Docs
Comment=Freepto Docs
Exec=firefox /usr/share/doc/freepto/freepto-docs.html
Categories=Paranoid;
Path=
Terminal=false
StartupNotify=false
Icon=freepto.ico
