[Desktop Entry]
Version=1.0
Type=Application
Name=Freepto Docs
Comment=Freepto Docs
Exec=freeptodoc freepto-docs
Categories=Paranoid;
Path=
Terminal=false
StartupNotify=false
Icon=freepto.ico
