[Desktop Entry]
Version=1.0
Type=Application
Name=Freepto Live Helper
Comment=Give information about persistence status of Freepto
Categories=Freepto;System
# Icon=anonymous.ico
Exec=/usr/bin/freepto-live-helper
