[Desktop Entry]
Version=1.0
Type=Application
Name=MAC Changer
Comment=Modifica il Mac Address delle interfacce di rete
Exec=su-to-root -X -c /usr/sbin/macchanger-gtk
Categories=Freepto;
Path=
Terminal=false
StartupNotify=false
