[Desktop Entry]
Encoding=UTF-8
Name=MAT
Comment=Metadata Anonymisation Toolkit
Exec=mat-gui
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/customat.ico
Categories=Freepto;
