[Desktop Entry]
Name=Passwords and Keys
Name[ar]=كلمات السرِّ ومفاتيح التعمية
Name[as]=পাছৱাৰ্ডসমূহ আৰু কিসমূহ
Name[be]=Паролі і ключы
Name[bg]=Пароли и ключове
Name[ca]=Contrasenyes i claus
Name[ca@valencia]=Contrasenyes i claus
Name[cs]=Hesla a klíče
Name[da]=Kodeord og nøgler
Name[de]=Passwörter und Verschlüsselung
Name[en_GB]=Passwords and Keys
Name[es]=Contraseñas y claves
Name[et]=Paroolid ja võtmed
Name[eu]=Pasahitzak eta gakoak
Name[fi]=Salasanat ja salausavaimet
Name[fr]=Mots de passe et clés
Name[gl]=Contrasinais e chaves de cifrado
Name[he]=ססמאות ומפתחות
Name[hi]=कूटशब्द और कुंजी
Name[hu]=Jelszavak és kulcsok
Name[id]=Sandi dan Kunci
Name[it]=Password e chiavi
Name[ja]=パスワードと鍵
Name[ko]=암호 및 키
Name[lt]=Slaptažodžiai ir raktai
Name[lv]=Paroles un atslēgas
Name[mk]=Лозинки и клучеви
Name[nb]=Passord og nøkler
Name[nl]=Wachtwoorden en sleutels
Name[pa]=ਪਾਸਵਰਡ ਅਤੇ ਕੁੰਜੀਆਂ
Name[pl]=Hasła i klucze
Name[pt]=Senhas e Chaves
Name[pt_BR]=Senhas e chaves
Name[ro]=Parole și chei
Name[ru]=Пароли и ключи
Name[sl]=Gesla in ključi
Name[sr]=Лозинке и кључеви
Name[sr@latin]=Lozinke i ključevi
Name[sv]=Lösenord och nycklar
Name[ta]=கடவுச்சொற்கள் மற்றும் விசைகள்
Name[te]=సంకేతపదాలు మరియు మీటలు
Name[th]=รหัสผ่านและกุญแจ
Name[tr]=Parolalar ve Anahtarlar
Name[ug]=ئىملار ۋە ئاچقۇچلار
Name[uk]=Паролі й ключі
Name[vi]=Mật khẩu và khoá
Name[zh_CN]=密码和密钥
Name[zh_HK]=密碼及加密密碼匙
Name[zh_TW]=密碼及加密金鑰
Comment=Manage your passwords and encryption keys
Comment[ar]=أدِر كلمات سرّك ومفاتيح تعميتك
Comment[as]=পাছৱাৰ্ড আৰু এনক্ৰিপশন-কি পৰিচালনা কৰক
Comment[ast]=Alministra tos contraseñes y claves de cifráu
Comment[be]=Кіраванне паролямі і ключамі шыфравання
Comment[be@latin]=Kiruj parolami j klučami šyfravańnia
Comment[bg]=Управление на паролите и ключовете за шифриране
Comment[bn]=পাসওয়ার্ড ও এনক্রিপশন-কী পরিচালনা করুন
Comment[bn_IN]=পাসওয়ার্ড ও এনক্রিপশন-কি পরিচালনা করুন
Comment[br]=Ardeiñ ho tremengerioù hag alc'hwezioù enrinegañ
Comment[ca]=Gestioneu les contrasenyes i claus d'encriptació
Comment[ca@valencia]=Gestioneu les contrasenyes i claus d'encriptació
Comment[cs]=Spravovat svá hesla a šifrovací klíče
Comment[da]=Håndtér dine kodeord og krypteringsnøgler
Comment[de]=Verwalten Sie Ihre Passwörter und Schlüssel
Comment[dz]=ཁྱོད་རའི་ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་ འཛིན་སྐྱོང་འཐབ་
Comment[el]=Διαχείριση των κωδικών και των κλειδιών κρυπτογράφησης
Comment[en@shaw]=𐑥𐑨𐑯𐑦𐑡 𐑿𐑼 𐑐𐑭𐑕𐑢𐑼𐑛𐑟 𐑯 𐑦𐑯𐑒𐑮𐑦𐑐𐑖𐑩𐑯 𐑒𐑰𐑟
Comment[en_GB]=Manage your passwords and encryption keys
Comment[es]=Administre sus claves y contraseñas de cifrado
Comment[et]=Sinu paroolide ja krüptimisvõtmete haldamine
Comment[eu]=Kudeatu pasahitzak eta enkriptatze-gakoak
Comment[fi]=Hallitse salasanoja ja salausavaimia
Comment[fr]=Gérer vos mots de passe et vos clés de chiffrement
Comment[ga]=Bainistigh d'fhocail faire agus eochracha criptithe
Comment[gl]=Xestione os seus contrasinais e chaves de cifrado
Comment[gu]=તમારા પાસવર્ડો અને એનક્રિપ્શન કીઓની વ્યવસ્થા કરો
Comment[he]=ניהול הססמאות ומפתחות ההצפנה שלך
Comment[hi]=अपना कूटशब्द और गोपन कुंजी प्रबंधित करें
Comment[hu]=Jelszavak és titkosítási kulcsok kezelése
Comment[id]=Kelola sandi dan kunci penyandian Anda
Comment[it]=Gestisce le proprie password e chiavi di cifratura
Comment[ja]=パスワードや暗号鍵を管理します
Comment[kn]=ನಿಮ್ಮ ಗುಪ್ತಪದ ಮತ್ತು ಗೂಢಲಿಪೀಕರಣ ಕೀಲಿಯನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=암호 및 암호화 키를 관리합니다
Comment[lt]=Tvarkyti Jūsų slaptažodžius ir šifravimo raktus
Comment[lv]=Pārvaldīt paroles un šifrēšanas atslēgas
Comment[mk]=Менаџирајте ги Вашите лозинки и клучеви за енкриптирање
Comment[ml]=നിങ്ങളുടെ അടയാളവാക്കും എന്‍ക്രിപ്ഷന്‍ കീകളും കൈകാര്യം ചെയ്യുക
Comment[mr]=तुमचे पासवर्ड व ऐंक्रीप्शन किल्ली नियंत्रीत करा
Comment[nb]=Håndter dine passord og krypteringsnøkler
Comment[ne]=तपाईँको पासवर्ड र गुप्तिकरण कुञ्जीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Uw cryptografische sleutels en wachtwoorden beheren
Comment[nn]=Handter dine passord og krypteringsnøklar
Comment[or]=ଆପଣଙ୍କର ପ୍ରବେଶ ସଂକେତ ଏବଂ ସଂଗୁପ୍ତ କି କୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ ਦੀ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Zarządzanie hasłami i kluczami szyfrującymi
Comment[pt]=Efectue a gestão das suas senhas e chaves de encriptação
Comment[pt_BR]=Gerenciar suas senhas e chaves de criptografia
Comment[ro]=Administează parolele și cheile de criptare
Comment[ru]=Управление паролями и ключами шифрования
Comment[sk]=Spravovať heslá a šifrovacie kľúče
Comment[sl]=Upravljanje z gesli in šifrirnimi ključi
Comment[sr]=Уредите ваше лозинке и кључеве шифровања
Comment[sr@latin]=Uredite vaše lozinke i ključeve šifrovanja
Comment[sv]=Hantera dina lösenord och krypteringsnycklar
Comment[ta]=உங்கள் கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகளை மேலாளுங்கள்
Comment[te]=మీ సంకేతపదాలను మరియు రహస్యపరచే మీటలను నిర్వహించండి
Comment[th]=จัดการรหัสผ่านและกุญแจเข้ารหัสลับของคุณ
Comment[tr]=Parolalarınızı ve şifreleme anahtarlarınızı yönetin
Comment[ug]=ئىم ۋە شىفىرلاش ئاچقۇچلىرىنى باشقۇرىدۇ
Comment[uk]=Керування паролями та ключами шифрування
Comment[vi]=Quản lý các mật khẩu và khoá mã hoá của bạn
Comment[zh_CN]=管理您的密码和加密密钥
Comment[zh_HK]=管理密碼及密碼匙
Comment[zh_TW]=管理密碼及金鑰
Exec=/usr/bin/seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=Paranoid;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.1
X-GNOME-DocPath=seahorse/seahorse.xml
