[Desktop Entry]
Version=1.0
Type=Application
Name=TORtp
Comment=Redirige a TOR tutto il traffico in uscita dal PC in maniera trasparente
Categories=Freepto;
Icon=anonymous.ico
Exec=/usr/local/bin/tortp
Path=
Terminal=true
StartupNotify=false
