toolbar[iconsize="small"] #ghostery-toolbar-button > .ghostery-toolbar-button {
  list-style-image: url("chrome://ghostery/content/ghostery-16x16.png");
}

toolbar[iconsize="small"] #ghostery-toolbar-button[condition="grey"] > .ghostery-toolbar-button {
  list-style-image: url("chrome://ghostery/content/ghostery-off-16x16.png");
}

/* panel, panel-arrow cross-browser customization - START */
#ghostery-panel menupopup, #ghostery-panel panel {
  -moz-appearance: none;
  -moz-transition: none;
  background-color: none;
}

#ghostery-panel .popup-internal-box {
  padding: 0;
}

#ghostery-panel panel[titlebar] {
  -moz-appearance: none;
}

#ghostery-panel panel[type="arrow"] {
  -moz-appearance: none;
  background: transparent;
  -moz-transition: none;
}

#ghostery-panel panel[type="arrow"][side="top"],
#ghostery-panel panel[type="arrow"][side="bottom"] {
}

#ghostery-panel .panel-arrowcontent {
  -moz-appearance: none;
  color: white;
  background: none;
  background-color: #ffffff;
  background-image: none;
  margin: 0;
  border-radius: 6px;
  box-shadow: none;
  padding: 0;
  text-shadow: none;
  border: 1px solid #000000;
}

#ghostery-panel .panel-inner-arrowcontent {
	background-color: transparent;
	background-clip: none;
	margin: 0;
	border: 0;
	border-radius: 0;
	-moz-border-top-colors: none;
	-moz-border-left-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-right-colors: none;
	padding: 0;
}

#ghostery-panel .panel-arrow {
  opacity: 1;
  margin: -1px 7px -1px 7px;
}

#ghostery-panel .panel-arrow[side="top"] {
  list-style-image: url("chrome://ghostery/content/images/popup/panelarrow-up.png");
}

#ghostery-panel .panel-arrow[side="bottom"] {
	-moz-transform: none;
  list-style-image: url("chrome://ghostery/content/images/popup/panelarrow-down.png");
}
/* panel, panel-arrow cross-browser customization - END */

#ghostery-toolbar-button > .ghostery-toolbar-button {
  list-style-image: url("chrome://ghostery/content/ghostery-16x16.png");
}

#ghostery-toolbar-button[condition="grey"] > .ghostery-toolbar-button {
  list-style-image: url("chrome://ghostery/content/ghostery-off-16x16.png");
}

#ghostery-toolbar-button {
	-moz-binding: url("chrome://ghostery/content/ghostery-badge.xml#ghostery-start-button");
}

.ghostery-toolbar-button {
	border-radius: 4.5px !important;
}

/* Error badge (displays an error counter). The badge is only visible if error count
   should be displayed */
#ghostery-toolbar-button .badge {
	display: none;
}

#ghostery-toolbar-button[showTrackers="true"] .badge {
	display: block;
	-moz-box-sizing: border-box;
	margin: 0;
}

#ghostery-toolbar-button .badge > .label {
	-moz-box-sizing: border-box;
	visibility: hidden;
	font-size: 10px;
	padding: 0 3px;
	line-height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 0 1px #EEF1F7;
	color: #000;
	border-radius: 3px;
	background-color: rgba(255, 0, 0, 0.9);
	box-shadow: inset 0px 0px 1px white;
	background-image: -moz-linear-gradient(
		center bottom,
		#DBE1EB 0%,
		#DEE4EB 80%,
		#E7EBF3 81%
	);
	border-width: 1px;
	border-style: solid;
	border-color: #B3BBC4 #9DA4AD #868D96 #9DA4AD;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.3) inset,
							0 1px 0 rgba(180, 189, 202, 0.7),
							0 0 3px rgba(153, 0, 0, 0.9);
}

#ghostery-toolbar-button[showTrackers="true"]:not([trackerCount="0"]) .badge .label {
    visibility: visible;
}

/* Slightly different positions of the badge for individual toolbars */
#nav-bar #ghostery-toolbar-button .badge {
	margin: 3px -13px 0 -8px; /* windows -> 10px -13px 0 -8px; */
  padding-left: 3px;
}

#addon-bar #ghostery-toolbar-button .badge {
	margin-top: 1px;
}

#TabsToolbar #ghostery-toolbar-button .badge {
	margin-top: 4px;
}

#toolbar-menubar #ghostery-toolbar-button .badge {
	margin-top: 4px;
}

#ghostery-toolbar-button .fb-toolbarbutton {
	padding: 0;
}


#ghostery-status {
	text-decoration:underline;
	/* color:blue; */
	margin-left:0px;
	margin-right:0px !important;
	padding-right:0px !important;
	/*-moz-appearance: none; */
}
#ghostery-status[disabled="true"] {
    display:none;
}
#ghostery-status:hover, .menu-bug-whatis:hover {
    cursor:pointer;
}
.menu-bug-whatis {
    color:blue;
    text-decoration:underline;
}
.menu-bug-whatis:hover {
    color:white;
}
.menu-bug-item {
    font-weight:bold;
    margin:1px 0px 1px 0px;
}
.menu-bug-item:hover {
    color:white;
}
.menu-bug-header {
    -moz-appearance:none !important;
    background-color:#330033 !important;
    color:#EEE;
    font-weight:bold;
    margin:0px 0px 2px 0px;
    padding:2px;
}
.menu-header:hover {
    -moz-appearance:none !important;
    color:#EEE;
}
.menu-header {
    -moz-appearance:none !important;
    padding:5px 2px 3px 2px !important;
    margin-bottom:2px !important;
    font-weight:bold;
    font-size:14px;
    background-color:#330033;
    color:#EEE;
    margin:0px;
}
.popup-internal-box#ghostery-popup {
/*  -moz-appearance: none !important;
    color: -moz-FieldText !important;*/
    padding: 0px 0px 4px 0px !important;
}
.webbug-popup {
    padding: 4px 0px 4px 0px !important;
}
.script-url-item {
    max-width: 300px;
}
.ghostery-options-content {background-color: #FFFFFF;}
.ghostery-options-label {font-weight: bold;}

/* https://developer.mozilla.org/en/XUL_Tutorial/Styling_a_Tree */
#bugTree > treechildren {
  background-color: #fff;
}
#bugTree > treechildren.disabled {
  background-color: #eee;
}
#bugTree > treechildren::-moz-tree-row {
  border: none;
}
#bugTree > treechildren::-moz-tree-row(disabled) {
  background-color: #eee;
}
#bugTree > treechildren::-moz-tree-cell-text(disabled) {
  color: #555;
}
/* cbox-check(-dis).gif isn't available in Firefox 2 and 3 in Mac OS X, so we bundle it */
#bugTree > treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://ghostery/content/cbox-check.gif");
}
#bugTree > treechildren::-moz-tree-checkbox(disabled) {
  list-style-image: none;
}
#bugTree > treechildren::-moz-tree-checkbox(disabled,checked) {
  list-style-image: url("chrome://ghostery/content/cbox-check-dis.gif");
}
#bugTree > treechildren::-moz-tree-cell-text {
	color: blue;
	text-decoration: underline;
}

#blockingMode {
  margin: 5px;
}
#blockingMode radio {
  margin-right: 5px;
}
menu.blocked-bug {
  color: #aaa;
  font-style: italic;
}
menu.blocked-bug:hover {
  color: #fff;
}
#bugSelectionToggles {
  margin: 5px 5px 5px 5px;
}
#bugSelectionToggles description {
  padding-top: 1px;
}
#bugSelectionToggles a {
  margin-right: 5px;
  text-decoration: underline;
}
#bugSelectionToggles.disabled {
  color: #555;
  text-decoration: none;
}
#bugSelectionToggles.disabled a {
  text-decoration: none;
  cursor: default;
}