body {
	height: 409px;
	width: 335px;
	padding: 0;
	margin: 5px;
}

#container {
	position: relative;
	height: 100%;
	width: 100%;
}

#header {
	background-color: #0072BB;
	width: 100%;
	height: 55px;
	overflow: hidden;
}

#header-icon {
	float: left;
	margin-top: 7px;
	margin-left: 3px;
	width: 64px;
	height: 48px;
	background: url('images/popup/ghosty_TM.png') no-repeat bottom;
}

#header-text {
	float: left;
	width: 210px;
	position: relative;
}

#ghostery-findings-text {
	font: 16px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	margin-top: 17px;
	display: table-cell;
	vertical-align: middle;
}

#settings-button {
	float: right;
	width: 45px;
	height: 45px;
	background: url('images/popup/Header/bh_ghostery_header_cog_off.png') no-repeat center;
	cursor: pointer;
	margin: 5px;
}
#settings-button.selected {
	background-image: url('images/popup/Header/bh_ghostery_header_cog_down.png');
}
#settings-button.selected:hover {
	background-image: url('images/popup/Header/bh_ghostery_header_cog_down.png');
}

#settings-button:hover {
	background-image: url('images/popup/Header/bh_ghostery_header_cog_hover.png');
}

#settings-button:active {
	background-image: url('images/popup/Header/bh_ghostery_header_cog_down.png');
}

#website-info {
	font: bold 12px 'Helvetica Neue', 'Helvetica';
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 5px;
}

#website-url {
	color: #6dcff6;
	max-width: 200px;
}

#website-whitelisted {
	display: none;
	color: #8dc63f;
}

#settings {
	height: 40px;
	background-color: #e1e1e1;
	padding: 5px;
	display: none;
}

.settings-buttons {
	text-align: center;
	font: 13px 'Helvetica Neue', 'Helvetica';
	line-height: 3em;
	float: left;
	background: url('images/popup/Settings/bh_ghostery_settings_button_off.png') no-repeat center;
	width: 80px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#options-button {
	margin-left: 2px;
}

.settings-buttons:hover {
	background-image: url('images/popup/Settings/bh_ghostery_settings_button_hover.png');
}

.settings-buttons:active {
	background-image: url('images/popup/Settings/bh_ghostery_settings_button_down.png');
}

#apps-div {
	border: 1px solid #e1e1e1;
	height: 297px;
	overflow: auto;
	color: #737373;
}

#footer {
	background-color: #0072BB;
	width: 100%;
	height: 55px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 9px;
}

.footer-button {
	font: bold 12px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	text-align: center;
	width: 140px;
	height: 45px;
	cursor: pointer;
	background: url('images/popup/Footer/bh_ghostery_footer_button_off.png') no-repeat center;
	line-height: 3.9em;
	margin-top: 5px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.footer-button.selected {
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_down.png');
}
.footer-button.selected:hover {
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_down.png');
}
.footer-button:hover {
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_hover.png');
}
.footer-button:active {
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_down.png');
}
.footer-button.disabled {
	color: #aaa;
	cursor: default;
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_disabled.png');
}
.footer-button.disabled:hover {
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_disabled.png');
}
.footer-button.disabled:active {
	background-image: url('images/popup/Footer/bh_ghostery_footer_button_disabled.png');
}

.tutorial-footer-button {
	font: bold 10px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	text-align: center;
	width: 102px;
	height: 23px;
	background: url('images/popup/Footer/bh_ghostery_footer_button_off.png') no-repeat center;
	line-height: 2.3em;
	margin-top: 5px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	background-size: 100% 100%;
	display: inline-block;
	margin-top: 1px;
}

#help-button {
	height: 40px; 
	width: 40px;
	cursor: pointer;
	margin-top: 7px;
	background: url('images/popup/Footer/bh_ghostery_footer_help_off.png') no-repeat center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
#help-button:hover {
	background-image: url('images/popup/Footer/bh_ghostery_footer_help_hover.png');
}
#help-button:active {
	background-image: url('images/popup/Footer/bh_ghostery_footer_help_down.png');
}
#help-button.down {
	background-image: url('images/popup/Footer/bh_ghostery_footer_help_down.png');
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.zero-clip {
    width:  17px;
    height: 14px;
    background: url('images/clippy_button_up.png') no-repeat left;
    background-size: auto 90%;
    position: absolute;
    left: 1px;
    cursor: pointer;
    display: none;
}
.zero-clip:hover {
    background-image: url('images/clippy_button_over.png');
}

.app-div {
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}

.app-arrow {
	height: 47px;
	width: 40px;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.app-arrow-up {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_arrow_up_off.png');
}

.app-arrow-down {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_arrow_down_off.png');
}

.app-info-container:hover > .app-arrow-up {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_arrow_up_hover.png');
}

.app-info-container:hover > .app-arrow-down {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_arrow_down_hover.png');
}

.app-info-container:hover > .app-text > div > .app-name {
	color: #00b5f0;
}

.app-info-container {
	float: left;
	height: 47px;
	width: 215px;
	cursor: pointer;
}

.app-srcs-container {
	display: none;
	background-color: #e1e1e1;
	box-shadow: 0 5px 5px -3px #bbb inset;
}

.app-blocking-controls {
	float: right;
	margin-right: 5px;
	width: 70px;
	height: 47px;
	background: url('images/popup/Tracker/bh_ghostery_tracker_track_off.png') no-repeat center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.global-blocking-control {
	width: 45px;
	height: 47px;
	background: url('images/popup/Tracker/bh_ghostery_tracker_track_off.png') no-repeat -2px;
}
.global-blocking-control.blocked:hover {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_track_hover_left.png');
}
.global-blocking-control.unblocked:hover {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_track_hover_right.png');
}

.selective-unblock-control {
	margin-right: 5px;
	width: 25px;
	height: 47px;
	background: url('images/popup/Tracker/bh_ghostery_tracker_track_off.png') no-repeat -46px;
}

.app-global-blocking {
	float: left;
	height: 47px;
	width: 44px;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.app-global-blocking.blocked {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_red_off.png') no-repeat 21px;
}
.app-global-blocking.blocked:hover {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_red_hover.png') no-repeat 21px;
}
.app-global-blocking.unblocked {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_blue_off.png') no-repeat 1px;
}
.app-global-blocking.unblocked:hover {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_blue_hover.png') no-repeat 1px;
}
.app-global-blocking.whitelisted {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_green_off.png');
}
.app-global-blocking.whitelisted:hover {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_green_hover.png');
}
.app-global-blocking.paused {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_yellow_off.png');
}
.app-global-blocking.paused:hover {
	background-image: url('images/popup/Tracker/bh_ghostery_tracker_indicator_cross_yellow_hover.png');
}

.app-site-blocking {
	float: left;
	height: 47px;
	width: 25px;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.app-site-blocking.on {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_check_green_off.png') no-repeat 2px;
}
.app-site-blocking.on:hover {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_check_green_hover.png') no-repeat 2px;
}
.app-site-blocking.off {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_check_grey_off.png') no-repeat 2px;
}
.app-site-blocking.off:hover {
	background: url('images/popup/Tracker/bh_ghostery_tracker_indicator_check_grey_hover.png') no-repeat 2px;
}

.app-text {
	float: left;
	height: 47px;
	display: table;
}

.app-name {
	font: 14px 'Helvetica Neue', 'Helvetica';
	color: #707070;
	max-width: 175px;
}
.app-name.blocked {
	text-decoration: line-through;
}

.app-type {
	font: bold 9px 'Helvetica Neue', 'Helvetica';
	color: #c2c2c2;
}

.app-srcs-title {
	font: bold 10px 'Helvetica Neue', 'Helvetica';
	color: #636363;
	padding: 15px 15px 0 15px;
}

.app-moreinfo {
	font: 10px 'Helvetica Neue', 'Helvetica';
	color: #959595;
	line-height: 1.3em;
	background-color: #fff;
	margin: 0;
	padding: 0 5px 2px 13px;
	border: 0;
	cursor: pointer;
	display: none;
}
.app-moreinfo:hover {
	color: #00b5f0;
}
.app-moreinfo a {
	text-decoration: none;
	color: inherit;
}
.app-moreinfo a:hover a:active a:visited {
	text-decoration: none;
	color: inherit;
}

.app-moreinfo.found-trackers {
	text-decoration: underline;
	font-weight: normal;
	margin-bottom: 0;
}

.app-srcs {
	font: 10px 'Helvetica Neue', 'Helvetica';
	color: #959595;
	line-height: 1.3em;
	padding: 0 15px 10px 0;
}

.app-src {
	position: relative;
	padding: 0 0 0 15px;
}
.app-src:hover > .zero-clip {
	display: block;
}
.app-src a:hover {
	color: #00b5f0;
	cursor: pointer;
}
.app-src a.blocked {
	text-decoration: line-through;
}

.no-trackers {
	display: table-cell;
	vertical-align: middle;
	font: 14px 'Helvetica Neue', 'Helvetica';
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.tracker-alert {
	height: 47px;
	width: 20px;
	background: url('images/popup/Tracker/bh_ghostery_tracker_alert.png') no-repeat center;
}

.message {
	font: 12px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	background-color: #000;
	opacity: 0.6;
	border-radius: 5px;
	padding: 5px 10px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}
.message-arrow {
	opacity: 0.6;
	margin-top: 8px;
	height: 0;
	width: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #000;
}
.message-arrow.top {
	border: none;
	margin-left: 219px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #000;
}
.message-arrow.bottom {
	border: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	margin: 0;
	margin-left: 4px;
}

.blocking-message {
	position: absolute;
	right: 75px;
	top: -6px;
	text-align: center;
	display: none;
	margin-top: 19px;
}
.blocking-message.two-lines {
	top: -14px;
}
.blocking-message.two-lines > .message-arrow {
	margin-top: 15px;
}
.blocking-message.two-lines > .message {
	max-width: 220px;
}
.blocking-message.clip {
	left: 1px;
	right: auto;
	top: -30px;
	margin: 0;
	display: none;
}

#reload {
	position: relative;
	color: #fff;
	padding: 3px;
	line-height: 1.5em;
	width: 265px;
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	border-radius: 5px;
	display: none;
	margin: 0 auto;
	text-align: center;
}
#reload span {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#reload-close {
	position: absolute;
	background: url('images/popup/Tutorial/bh_ghostery_tutorial_close_off.png') no-repeat center;
	height: 20px;
	width: 20px;
	top: 2px;
	right: 0;
	cursor: pointer;
}
#reload-close:hover {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_close_hover.png')
}

#tutorial-container {
	height: 280px;
	width: 315px;
	background-color: black;
	position: absolute;
	top: 64px;
	left: 10px;
	opacity: .9;
	border-radius: 5px;
	display: none;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#tutorial-screens {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-family: 'Helvetica Neue', 'Helvetica';
	text-align: center;
	margin: 0 auto;
	width: 240px;
	height: 250px;
}

.tutorial-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: none;
	width: 100%;
	height: 100%;
	color: white;
}

.tutorial-arrow {
	position: absolute;
	height: 100%;
	width: 30px;
	background-position: left;
	background-repeat: no-repeat;
	cursor: pointer;
}

#tutorial-arrow-right {
	right: 0;
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_arrow_right_off.png');
}
#tutorial-arrow-right:hover {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_arrow_right_hover.png');
}
#tutorial-arrow-right.off {
	background-image: none;
	cursor: default;
}
#tutorial-arrow-right:hover.off {
	background-image: none;
	cursor: default;
}
#tutorial-arrow-right.blink {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_arrow_right_hover.png');
}

#tutorial-arrow-left {
	left: 0;
	background-position: right;
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_arrow_left_off.png');
}
#tutorial-arrow-left:hover {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_arrow_left_hover.png');
}
#tutorial-arrow-left.off {
	background-image: none;
	cursor: default;
}
#tutorial-arrow-left:hover.off {
	background-image: none;
	cursor: default;
}
#tutorial-arrow-left.blink {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_arrow_left_hover.png');
}

#tutorial-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 25px;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#tutorial-controls div {
	display: inline-block;
	height: 10px;
	width: 15px;
	background: url('images/popup/Tutorial/bh_ghostery_tutorial_control_off.png') no-repeat center;
	cursor: pointer;
}

#tutorial-controls div:hover {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_control_on.png');
}

#tutorial-controls div.on {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_control_on.png');
}

#tutorial-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: url('images/popup/Tutorial/bh_ghostery_tutorial_close_off.png') no-repeat center;
	cursor: pointer;
	margin: 15px;
}
#tutorial-close:hover {
	background-image: url('images/popup/Tutorial/bh_ghostery_tutorial_close_hover.png');
}

.tutorial-screen > .subtitle {
	font: 18px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	margin-top: 20px;
}
.tutorial-screen > .central-image {
	background: url('chrome://ghostery/content/images/popup/Tutorial/bh_ghostery_tutorial_track_lrg.png') no-repeat center;
	height: 100px;
	position: relative;
}
.tutorial-screen > .bottom-text > .central-image {
	background: url('chrome://ghostery/content/images/popup/Tutorial/bh_ghostery_tutorial_track_lrg.png') no-repeat center;
	height: 100px;
	position: relative;
	display: inline-block;
	background-size: 100% 100%;
	height: 19px;
	width: 49px;
	margin-bottom: -5px;
}
.tutorial-screen > .bottom-text > .central-image > .left-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 18px;
	width: auto;
}
.tutorial-screen > .bottom-text > .central-image > .right-image {
	position: absolute;
	right: 0px;
	top: 0;
	height: 18px;
	width: auto;
}
.tutorial-screen > .bottom-text > .central-image > .left-image.right {
	position: absolute;
	left: 13px;
	top: 1px;
	height: 18px;
	width: auto;
}
.tutorial-screen > .central-image > .left-image {
	position: absolute;
	left: 55px;
	top: 28px;
}
.tutorial-screen > .central-image > .left-image.right {
	left: 92px;
}
.tutorial-screen > .central-image > .right-image {
	position: absolute;
	right: 55px;
	top: 28px;
}
.tutorial-screen > .bottom-text {
	font: 100 12px 'Helvetica Neue', 'Helvetica';
	color: #fff;
	margin-top: -10px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.tutorial-screen > .bottom-text > .bold {
	font-weight: 500;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}