body {
  font-family: verdana, bitstream vera sans, helvetica, sans-serif;
  color: black;
  background-color: #777777; }

h1 {
  font-family: arial, helvetica, sans-serif;
  font-size: 2.10em;
  line-height: 1em; }

h2, h3, h4, h5 {
  font-family: verdana, bitstream vera sans, helvetica, sans-serif;
  line-height: 1em; }

h2 {
  font-size: 1.125em;
  line-height: 1.125em; }

h3 {
  font-size: 1em;
  line-height: 1.125em; }

div#wrapper {
  padding: 1.5em;
  background: #d6d6d6 url(/images/background/grey2.png) repeat-x;
  overflow: auto; }

div#masthead {
  margin: 0;
  background: white; }
  div#masthead h1#site_title {
    margin: 0;
    padding: 0.5em;
    display: none; }
  div#masthead img#site_logo {
    margin: 0;
    padding: 0;
    display: block; }
  div#masthead #site_logo_wrapper {
    display: none; }

form.login_dialog label {
  font-weight: bold;
  display: block; }
form.login_dialog input#login, form.login_dialog input#password {
  width: 99%;
  margin-bottom: 1em; }
form.login_dialog input[type=submit] {
  font-size: 1.1em;
  float: right; }

div#top_menu {
  background-color: #333333;
  padding-left: 1em;
  border-width: 1px 0;
  border-style: solid;
  border-color: black; }
  div#top_menu div.account_links {
    float: right;
    color: #646360;
    padding: 0.5em 1em; }
    div#top_menu div.account_links a {
      color: #cccccc;
      margin: 0 0.5em; }
  div#top_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto; }
  div#top_menu li.menu {
    float: left;
    margin: 0;
    position: relative; }
    div#top_menu li.menu:last-child span.topnav a {
      border-right: 1px solid;
      border-color: black; }
  div#top_menu li.menu.active {
    padding-bottom: 10px;
    margin-bottom: -10px;
    background: url(/images/ui/menu_nub.gif) no-repeat 50% 100%; }
    div#top_menu li.menu.active:hover {
      padding-bottom: 0;
      margin-bottom: 0;
      background: none transparent; }
  div#top_menu li.menu span.topnav {
    border: 0; }
    div#top_menu li.menu span.topnav a {
      display: block;
      font-weight: 400;
      border-left: 1px solid;
      border-color: black;
      color: #cccccc;
      padding: 0.5em 1em;
      text-transform: capitalize; }
      div#top_menu li.menu span.topnav a.active {
        color: white;
        background: black; }
  div#top_menu div.menu_items {
    position: absolute;
    top: 2.4em;
    left: 0;
    background: white;
    padding: 0.75em 0.5em 0.5em;
    border-width: 1px 2px 2px 1px;
    border-color: black;
    border-style: solid;
    z-index: 99; }
    div#top_menu div.menu_items h3 {
      margin: 0 0 0.5em 4px; }
      div#top_menu div.menu_items h3 .see_all {
        font-size: smaller;
        font-variant: small-caps; }
    div#top_menu div.menu_items ul {
      border: 0 none transparent;
      width: auto;
      position: static; }
    div#top_menu div.menu_items li {
      float: none; }
    div#top_menu div.menu_items a {
      border: 0px none transparent;
      color: #0000ee; }
    div#top_menu div.menu_items a.name_icon {
      display: block;
      border: 1px solid white;
      background-position: 4px 50%;
      padding: 12px 5px 12px 45px; }
      div#top_menu div.menu_items a.name_icon.two {
        padding-top: 5px;
        padding-bottom: 5px; }
      div#top_menu div.menu_items a.name_icon:hover {
        background-color: #ffc;
        border: 1px solid #cc9; }
    div#top_menu div.menu_items div.leftcol {
      float: left;
      width: 17em; }
      div#top_menu div.menu_items div.leftcol.menu_me {
        padding: 0em 1em; }
    div#top_menu div.menu_items div.rightcol {
      width: 17em;
      margin-left: 18em; }
  div#top_menu #menu_me div.leftcol {
    width: 12em; }
  div#top_menu #menu_me div.rightcol {
    width: 23em;
    margin-left: 13em;
    border-left: 1px dotted #ccc;
    padding-left: 1em; }
  div#top_menu #menu_me ul.recent_pages li {
    margin-top: 0.5em; }
  div#top_menu #menu_me h3 {
    margin: 0; }

#banner {
  clear: both;
  padding: 1em;
  background: #115599;
  color: white;
  border-color: black;
  border-width: 0 0 1px 0;
  border-style: solid; }
  #banner img {
    border: 1px solid white;
    vertical-align: middle; }
    #banner img.avatar {
      margin-right: 1em; }
  #banner h1, #banner h2, #banner h3 {
    padding: 0;
    margin: 0; }
  #banner h2 {
    font-size: 1.5em; }
  #banner a {
    color: white; }

.title_box {
  background-color: #e6f2ff;
  border-bottom: 1px solid #d0e3f7;
  padding: 1em; }
  .title_box.tabs {
    padding: 0;
    overflow: hidden;
    border-bottom: 0; }
    .title_box.tabs h1 {
      margin: 0.5em; }
  .title_box ul.tabset.top a.active {
    background-color: #f0f7ff; }
  .title_box .summary {
    color: #555; }
  .title_box h1 {
    color: #666699;
    margin: 0; }
    .title_box h1 span {
      margin-left: 3em; }
  .title_box .breadcrumb {
    padding-bottom: 0.25em; }
    .title_box .breadcrumb a {
      text-transform: capitalize; }
  .title_box ul.navbar {
    margin: 1em 0em 1em 0em;
    padding: 0 0 0.25em 0;
    list-style: none;
    width: auto; }
  .title_box li.navbar_menu {
    float: left;
    margin: 0;
    position: relative; }
    .title_box li.navbar_menu span.navbar_item {
      border: 0;
      position: relative; }
      .title_box li.navbar_menu span.navbar_item a {
        display: block;
        font-weight: 400;
        border-right: none;
        background-color: #FBFDFF;
        border-color: #D4E3F5 #D4E3F5 #89BBEC #D4E3F5;
        border-style: solid none solid solid;
        border-width: 1px;
        font-weight: bold;
        font-size: smaller;
        color: #4978bc;
        padding: 0.5em 0.75em;
        text-transform: capitalize; }
        .title_box li.navbar_menu span.navbar_item a:hover {
          background-color: #F6FAFF; }
    .title_box li.navbar_menu:last-child span.navbar_item a {
      border-right: 1px solid #89BBEC;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px; }
    .title_box li.navbar_menu:first-child span.navbar_item a {
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px; }

.info_box {
  padding: 1em;
  background-color: #f0f7ff;
  border-bottom: 1px solid #d0e3f7; }
  .info_box table.columns {
    width: 100%; }
  .info_box td {
    vertical-align: top; }
    .info_box td.right {
      padding-left: 1em;
      width: 50%; }
    .info_box td.left {
      width: 50%; }
  .info_box .status h3 {
    margin: 0.5em 0; }
  .info_box.tabs {
    padding: 1em 0 0 0;
    overflow: hidden;
    border-bottom: 0; }

.info_box .description,
.inset_box .description {
  color: #697D8C;
  font-family: georgia, times;
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.6em;
  letter-spacing: 1px;
  word-spacing: 2px; }

.inset_box {
  background: #eee url(/images/background/fade-light.png) repeat-x;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #ccc; }
  .inset_box h3 {
    margin-top: 1em;
    margin-bottom: 0; }
  .inset_box td {
    padding: 0 1em 1em 0;
    vertical-align: top; }

.content_box {
  background: #fff none repeat scroll 0 0;
  padding: 1em; }

.left_column ul.icon_boxes {
  width: 17em; }

#footer {
  border-top: 1px solid #666;
  color: white; }
  #footer a {
    color: white; }
  #footer div.content {
    padding: 1.5em; }
  #footer div.left {
    float: left;
    width: 45%;
    padding: 0 2em; }
  #footer div.right {
    float: left;
    width: 45%; }
  #footer div.language_menu {
    float: right; }

.small_icon {
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 20px;
  min-height: 16px; }
  .small_icon.right {
    background-position: 100% 50%;
    padding-left: 4px;
    padding-right: 20px; }
  .small_icon.bullet {
    background-position: 0 2px;
    margin: 0.5em 0; }

.none_16 {
  background-image: none; }

.small_icon_button {
  height: 16px;
  width: 16px;
  display: block;
  padding: 0; }

.spinner_icon {
  background-image: url(/images/spinner.gif); }

.big_icon {
  background-repeat: no-repeat;
  background-position: 1px 50%;
  padding: 14px 0 14px 54px; }

.page_icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: 0 50%; }

.name_icon {
  background-repeat: no-repeat;
  background-position: 1px 50%; }
  .name_icon.tiny {
    padding: 0px 0 0px 17px; }
  .name_icon.xsmall {
    padding: 2px 0 4px 26px; }
  .name_icon.small {
    padding: 7px 0 7px 40px;
    line-height: 14px; }
  .name_icon.medium {
    padding: 15px 0 15px 60px;
    display: block;
    font-size: 1.3em; }
  .name_icon b {
    display: none; }
  .name_icon.two {
    padding-top: 0;
    padding-bottom: 0; }

.name_icon:hover b {
  display: block;
  position: absolute;
  background: transparent url(/images/ui/mini_popup_bg.gif) no-repeat bottom left;
  color: white;
  bottom: 25px;
  left: -5px;
  z-index: 300;
  padding: 3px 5px 9px 5px; }
  .name_icon:hover b:hover {
    display: none; }

.page_list a.name_icon.xsmall {
  display: block; }

button.icon_16 {
  vertical-align: text-top;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 16px;
  width: 16px; }
button.icon_48 {
  vertical-align: middle;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 48px;
  width: 48px; }

img.left {
  float: left;
  margin: 0 0.2em 0.5em 0; }
img.right {
  float: right;
  margin: 0 0 0.5em 0.5em; }
img.framed {
  padding: 2px;
  border: 1px solid #ccc;
  background: white; }
img.avatar {
  vertical-align: middle; }

a.thumbnail {
  display: block;
  overflow: hidden;
  outline: 0;
  background: white;
  border: 1px solid white;
  outline: 1px solid #999;
  margin: 0 5px 5px 0; }
  a.thumbnail:hover {
    border: 1px solid #cdf;
    outline: 1px solid black; }

ul.icon_boxes {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul.icon_boxes li {
    float: left;
    border: 1px solid #ccc;
    height: 32px;
    width: 32px;
    margin: 0 5px 5px 0;
    z-index: auto; }
    ul.icon_boxes li span {
      display: none;
      padding: 1em;
      background-color: black;
      color: white;
      font-weight: bold;
      z-index: 10;
      position: absolute;
      top: 4px;
      left: 0; }
    ul.icon_boxes li div {
      position: relative; }
    ul.icon_boxes li:hover span {
      display: inline; }
    ul.icon_boxes li a {
      display: block; }

.dash_box {
  float: left;
  margin: 0 2em 1.5em 0; }
  .dash_box div.link_line {
    line-height: 0.8em; }

.left_column h2.alert {
  margin: 1em 0; }

div.contribute {
  background: #efe;
  border: 1px solid #ccc;
  -moz-border-radius: 30px;
  font-weight: bold;
  float: left;
  padding-left: 8px;
  margin-left: -7px; }
  div.contribute a {
    display: block;
    padding: 6px 10px 6px 22px;
    color: #52972d; }

div.group_contribute {
  background: #eef; }
  div.group_contribute a {
    color: #0000FF; }

div.announcements table {
  margin: 0.75em 0;
  border-collapse: collapse; }
  div.announcements table td {
    vertical-align: top;
    padding: 1em;
    border: 1px dotted #ccc; }
div.section {
  margin-bottom: 2em; }
div.tags ul {
  width: 190px; }

.landing h2.alert {
  padding-bottom: 0.5em; }

.box1 {
  border: 1px solid #E1E1E1;
  background: #F0FAFE;
  padding: 1em;
  margin: 10px 22px 0 22px; }
  .box1 .description {
    padding-top: 1em; }

.title_box h1 em.status {
  font-weight: 100; }

.info_box h3 {
  padding-bottom: 0.5em; }

.cover_media {
  float: left;
  margin: 0 1em 1em 0em; }

.activities li {
  color: #333;
  margin-bottom: 1em;
  padding-left: 24px; }
  .activities li span.commands {
    white-space: nowrap; }
    .activities li span.commands a {
      text-transform: lowercase;
      font-size: 80%; }
  .activities li img {
    max-width: 200px;
    max-height: 200px; }
  .activities li.small_icon {
    background-position: 0 2px; }
  .activities li label.date {
    font-style: italic;
    color: #999; }
  .activities li br {
    display: none; }

table.layout {
  border-collapse: collapse;
  width: 100%; }

.left_column, .right_column, .main_column {
  border: 1px solid #999;
  border-width: 1px;
  vertical-align: top;
  padding: 0; }

.main_column {
  background-color: white; }

.left_column {
  background-color: #fafdf9;
  width: 19em;
  border-right: 0;
  padding: 1em; }

.left_layout .main_column {
  border-left: 1px solid #ccc; }

.right_column {
  width: 17em;
  padding-left: 1em;
  border: 0;
  color: #666666; }

div.page_search_form {
  text-align: center;
  line-height: 2.5em;
  margin-bottom: 1em; }

.page_list {
  background: white; }
  .page_list table {
    width: 100%;
    color: #888;
    border-collapse: collapse; }
  .page_list td {
    padding: 0.25em;
    border-bottom: 1px solid #ccc;
    background-color: white; }
    .page_list td.last {
      text-align: right; }
    .page_list td.date {
      background: #FFF4E8;
      color: #F28367;
      text-transform: capitalize;
      font-weight: bold; }
    .page_list td.excerpt b {
      color: black; }
  .page_list th {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #ccc;
    padding: 0.75em;
    padding-left: 0.5em;
    text-align: left;
    font-size: 0.8em;
    color: #C2C2C2; }
    .page_list th.last {
      text-align: right; }
    .page_list th.selected {
      background-color: #eee; }
  .page_list span.status {
    color: red; }
  .page_list span.star {
    color: #EBBA20;
    font-weight: bold; }

.page_scroll {
  max-height: 40em;
  overflow: auto;
  border-top: 1px solid #ccc;
  clear: left;
  padding-top: none; }

.page_scroll.rigid {
  height: 40em;
  border: none; }

.filter_menu {
  display: none; }

.section div.round {
  background: #fff url(/images/ui/down-arrow.png) no-repeat right;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #E1E1E1;
  width: 140px;
  font-weight: normal; }

table.share_page_recipient_add {
  width: 100%; }
  table.share_page_recipient_add div.scroll {
    overflow: auto;
    height: 20em;
    width: 13em;
    padding: 0.5em;
    font-size: 0.8em; }

.autocomplete_results_area {
  margin: 6px 10px 6px 10px;
  border: 1px solid #ccc;
  max-height: 15em;
  overflow: auto;
  _height: 10em; }
  .autocomplete_results_area table {
    width: 100%; }

.autocomplete_results_table td {
  padding: 4px;
  border-bottom: 1px solid #ccc;
  background-color: #f6f6f6;
  font-size: 0.9em; }
.autocomplete_results_table td.unsaved {
  background-color: #BBFF99; }
.autocomplete_results_table span.entity {
  width: 15em;
  overflow: hidden; }

.popup #share_page_recipient_table td {
  background-color: #fff; }

table.notify {
  width: 100%; }
  table.notify td.check {
    vertical-align: top; }
  table.notify tr.gap td {
    padding-top: 1em; }

#permissions_tab select.access, #share_page_recipient_table select.access {
  font-size: 0.9em; }

#page_sidebar {
  padding-top: 2.5em; }
  #page_sidebar a,
  #page_sidebar a:visited {
    color: #0000cc; }
  #page_sidebar h3 {
    color: #666666;
    border: 1px solid;
    border-color: #eee #bbb #bbb #eee;
    background: #e0e0e0;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.5em 0.75em;
    margin: 2.5em 0 0.5em 0;
    -moz-border-radius: 4px; }
  #page_sidebar ul.rule {
    border-top: 1px dotted #fff;
    padding-top: 0.5em;
    margin-top: 0.5em; }
  #page_sidebar ul.names li:first-child {
    border-top: 0; }
  #page_sidebar ul.names li {
    padding: 3px 0;
    border-top: 1px dotted white; }
    #page_sidebar ul.names li span {
      background-position: 100% 0;
      background-repeat: no-repeat;
      padding-right: 20px;
      margin-right: -20px; }
  #page_sidebar input.check {
    float: left;
    margin: 7px 0 0 -18px; }

#page_sidebar .tags {
  overflow: hidden; }
#page_sidebar .tags a {
  width: 100%;
  overflow: hidden;
  background-color: #dde;
  padding: 0px 2px;
  line-height: 175%;
  white-space: nowrap; }
#page_sidebar .tags a:hover {
  background-color: #eef; }

.edit_tags p {
  float: left;
  width: 40%;
  margin: 0.25em; }

#posts {
  background: #fff;
  margin-bottom: 5px; }
  #posts .comments-head {
    border-top: 1px solid #E1E1E1;
    padding-top: 20px;
    padding-bottom: 10px; }
  #posts .post-author {
    text-align: right;
    padding-left: 10px;
    margin-right: 10px;
    color: #6E6E6C;
    font-size: 12px; }
    #posts .post-author div.username,
    #posts .post-author div.date {
      margin-right: 40px; }
    #posts .post-author div.fields {
      font-size: 10px; }

table.posts {
  width: 100%;
  border-top: 1px solid #ccc; }
  table.posts .shade-even {
    background-color: #fff; }
  table.posts .shade-odd {
    background-color: #fcf9f2; }
  table.posts tr.post td {
    vertical-align: top; }
  table.posts tr.post-spacer-bottom td {
    line-height: 10px;
    border-bottom: 1px solid #ccc; }
  table.posts tr.post-spacer-top td {
    line-height: 10px; }
  table.posts textarea {
    margin-bottom: 5px; }
  table.posts td.post-body {
    border-left: 1px solid #ccc;
    padding: 0 10px; }
    table.posts td.post-body p:first-child {
      margin-top: 0; }
    table.posts td.post-body p:last-child {
      margin-bottom: 0; }
  table.posts td:hover .post_action_icon {
    display: block; }
  table.posts td .post_action_icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none; }

div.title_box form .h1 {
  line-height: 1em;
  margin: 0;
  padding: 0; }
div.title_box form .h2 {
  line-height: 2em;
  margin: 0;
  padding: 1; }
div.title_box form .h3 {
  line-height: .5em;
  margin: 0;
  padding: 1; }
div.title_box .h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em; }
div.title_box .h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 3em;
  padding: 0px 0px 0px 20px; }
div.title_box .h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2em; }

div.sub_menu {
  width: 200px; }

html,
body,
pre,
img,
applet,
object,
iframe,
form,
fieldset {
  margin: 0;
  padding: 0;
  border: none; }

body {
  font-size: 100%; }

table {
  border-spacing: 0; }

p,
ol,
ul,
td,
div {
  font-family: verdana, bitstream vera sans, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.selfclear {
  display: inline-block; }

.selfclear {
  display: block; }

* html .selfclear {
  height: 1px; }

.handle {
  cursor: move; }

.not_handle {
  cursor: default; }

.tag1 {
  font-size: 1em; }

.tag2 {
  font-size: 1.1em; }

.tag3 {
  font-size: 1.3em; }

.tag4 {
  font-size: 1.5em; }

ul.plain {
  padding: 0;
  margin: 0;
  list-style: none; }

ul.plain ul {
  list-style: none; }

ul.floatlist li {
  float: left;
  margin-right: 1em; }

.nowrap {
  white-space: nowrap; }

.small {
  font-size: 0.9em; }

.tooltip span {
  display: none;
  position: absolute;
  top: #px;
  left: #px;
  padding: 1em;
  width: 25em;
  border: 1px solid #666;
  background-color: #FFFFAA;
  color: #000;
  z-index: 100; }
.tooltip:hover span {
  display: block; }

a {
  text-decoration: none;
  color: #0000ee; }
  a:visited {
    color: #551a8b; }
  a:active {
    color: red;
    text-decoration: none; }
  a:hover {
    color: #0000ee;
    text-decoration: underline; }
  a.dotted {
    color: black;
    text-decoration: none;
    outline: 0;
    border-bottom: 1px #999 dotted; }
  a.invert {
    color: white;
    background-color: #0000ee; }
  a.active {
    font-weight: bold; }
  a.imglink {
    text-decoration: none; }
    a.imglink span {
      text-decoration: underline; }

a[name] {
  color: black;
  text-decoration: none; }
  a[name]:hover {
    color: black;
    text-decoration: none; }

.link_line em {
  color: #ccc; }

.clickable:hover {
  background-color: #ffffdd;
  cursor: pointer; }

.entity .name {
  font-weight: bold;
  overflow: hidden; }

ul.side_list {
  padding: 0;
  margin: 0;
  list-style: none;
  clear: both; }
  ul.side_list ul {
    list-style: none;
    padding-left: 16px; }
  ul.side_list a, ul.side_list .a {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px; }
  ul.side_list.commands a {
    text-transform: capitalize; }
  ul.side_list li.small_icon {
    padding-left: 19px;
    background-position: 0 50%; }

.tab_area {
  background-color: white;
  padding-top: 1em;
  clear: left; }

#MB_content .tab_area {
  padding: 1em;
  border: 1px solid #999;
  border-top: 0; }

ul.tabset {
  padding: 0;
  list-style: none; }
  ul.tabset li {
    display: inline; }

ul.tabset.top {
  margin: 0;
  clear: left;
  float: left;
  width: 100%;
  height: 1%;
  background: url(/images/grey9.png) repeat-x bottom; }
  ul.tabset.top a:hover {
    text-decoration: underline; }
  ul.tabset.top a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 1em;
    line-height: 1.3em;
    padding: 0.5em 1em;
    cursor: pointer; }
    ul.tabset.top a.small_icon {
      padding-left: 28px;
      margin-left: 0.5em;
      background-position: 8px 50%; }
    ul.tabset.top a.active {
      background-color: white;
      border: 1px solid #999;
      border-bottom: 0; }

.sub_tabs a {
  font-size: 0.85em; }

ul.tabset.simple {
  margin-top: 0; }

input[type="hidden"] {
  display: none; }

option.indented {
  margin-left: 1.5em; }
option.section {
  font-weight: bold; }

label.date span {
  font-size: 0.8em; }

.fieldset textarea {
  width: 99%;
  max-width: 80em; }

label.checkbox, label.radio {
  display: block;
  margin-left: 1.7em; }

input.checkbox, input.radio {
  position: relative;
  top: 2px;
  margin-left: -1.6em; }

input[type=radio], input[type=checkbox] {
  vertical-align: text-top; }

.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.round_top {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px; }

.round_left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px; }

.round_right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px; }

.large_circle {
  -moz-border-radius-bottomleft: 21px;
  -moz-border-radius-bottomright: 21px;
  -moz-border-radius-topleft: 21px;
  -moz-border-radius-topright: 21px; }

.selfclear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

hr.clear {
  height: 0;
  border: none;
  padding: 0;
  clear: both; }

div.p {
  margin: 1em 0; }

span.break {
  font-size: 1px;
  line-height: 1px;
  float: right !important;
  float: none; }

.align_right {
  text-align: right; }

.align_left {
  text-align: left; }

.float_right {
  float: right; }

.float_left {
  float: left; }

h1.dim {
  color: #738899;
  margin: 0; }
h1.bright {
  color: #5B97CB;
  margin: 0; }
h1.alert {
  color: #ce4a48;
  margin: 0; }

h2.first {
  padding-top: 0;
  margin-top: 0; }
h2.dark {
  color: #CE4A48; }
h2.dim {
  color: #738899;
  margin: 0; }
h2.bright {
  color: #5B97CB;
  margin: 0; }
h2.alert {
  color: #CE4A48;
  margin: 0; }
h2 span {
  font-size: 0.6em;
  white-space: nowrap;
  text-transform: uppercase; }

h3.dim {
  color: #738899;
  margin: 0; }
h3.bright {
  color: #5B97CB;
  margin: 0; }
h3.alert {
  color: #CE4A48;
  margin: 0; }
h3 span {
  font-size: 0.6em;
  white-space: nowrap;
  text-transform: uppercase; }

table.pretty {
  border-collapse: collapse;
  width: 100%; }
  table.pretty > tbody > tr.even {
    background-color: #F2F2F2; }
  table.pretty > tbody > tr.odd {
    background-color: white; }
  table.pretty > tbody > tr.unread {
    font-weight: bold; }
  table.pretty > tbody > tr > td {
    padding: 0.5em;
    border-bottom: 1px solid #e6e6e6; }
    table.pretty > tbody > tr > td img {
      vertical-align: bottom; }
  table.pretty > tbody > tr > th {
    padding: 0.5em;
    text-align: left;
    background: #FFF4E8;
    color: #F28367;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 1px solid #ccc; }
  table.pretty > tbody > tr.heading > th img {
    vertical-align: bottom; }
  table.pretty > tbody > tr.heading > th a {
    color: #333; }
  table.pretty > tbody > tr.heading > th.selected {
    background: #888; }
    table.pretty > tbody > tr.heading > th.selected a {
      color: white; }
  table.pretty a {
    text-decoration: none; }
    table.pretty a:hover {
      text-decoration: underline; }

table.plain {
  border-collapse: collapse;
  width: 100%; }
  table.plain td {
    padding: 0.5em; }
    table.plain td.label {
      text-align: right;
      font-weight: bold; }

.pagination {
  padding: 1em 0;
  text-align: center;
  clear: both; }
  .pagination a {
    padding: 0 5px 1px 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
    color: #2e6ab1; }
    .pagination a:visited {
      padding: 0 5px 1px 5px;
      border: 1px solid #9aafe5;
      text-decoration: none;
      color: #2e6ab1; }
    .pagination a:hover, .pagination a:active {
      border: 1px solid #2b66a5;
      color: #000;
      background-color: #ffffe0;
      text-decoration: none; }
  .pagination span.current {
    padding: 0 5px 1px 5px;
    border: 1px solid black;
    background-color: #2e6ab1;
    color: #FFF; }
  .pagination span.disabled {
    padding: 0 5px 1px 5px;
    border: 1px solid #929292;
    color: #929292; }

.pagination_label {
  text-align: center; }

.letter_pagination {
  padding: 1em 0;
  text-align: center; }
  .letter_pagination a {
    padding: 0 5px 1px 5px;
    color: #8aae48;
    font-size: 1.125em; }
    .letter_pagination a:visited {
      padding: 0;
      text-decoration: none;
      color: #8aae48; }
    .letter_pagination a:hover, .letter_pagination a:active {
      color: #303b1c;
      text-decoration: none; }
  .letter_pagination span {
    font-size: 1.125em; }
    .letter_pagination span.current {
      padding: 0 5px 1px 5px;
      border: 1px solid #929292;
      color: #303b1c; }
    .letter_pagination span.disabled {
      padding: 0;
      color: #edf2e3; }

.autocomplete-w1 {
  background: url(/images/ui/shadow.png) no-repeat bottom right;
  position: absolute;
  top: 7px;
  left: 6px;
  z-index: 400; }

.autocomplete {
  width: 300px;
  border: 1px solid #999;
  background-color: white;
  cursor: pointer;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
  overflow-x: hidden; }
  .autocomplete .selected {
    background: #eee; }
  .autocomplete div {
    padding: 1px 0 1px 5px;
    white-space: nowrap; }
  .autocomplete p {
    margin: 0; }
  .autocomplete ins {
    text-decoration: none;
    color: #3399FF; }
  .autocomplete em {
    font-weight: bold;
    font-style: normal; }

blockquote.error {
  padding: 0.5em;
  background: #fcc;
  border: 1px solid red; }

div.fieldWithErrors {
  border: 2px solid red;
  display: table-cell; }
  div.fieldWithErrors + div.fieldWithErrors {
    display: none; }

.small_notice {
  padding: 0.5em;
  margin-bottom: 1em; }
  .small_notice .text {
    padding-left: 20px; }
  .small_notice p, .small_notice ul {
    margin: 0.25em; }
  .small_notice ul {
    padding-left: 1em; }
  .small_notice.error {
    border: 1px solid red;
    background: #fcc; }
  .small_notice.success {
    border: 1px solid green;
    background: #cfc; }
  .small_notice.info {
    border: 1px solid blue;
    background: #cdf; }

#modal_message .small_notice {
  margin: 1em; }

div.dialog {
  width: 50%;
  margin: 5em auto; }
  div.dialog ul {
    list-style: none;
    padding: 0; }
    div.dialog ul li {
      margin: 1em 0; }

table.form {
  margin-left: 1em;
  border-collapse: collapse; }
  table.form tr.first td {
    border-top: 0; }
  table.form > tbody > tr > td {
    vertical-align: top;
    border-top: 1px dotted #ccc; }
  table.form td.heading {
    padding: 0.5em 0; }
    table.form td.heading h2 {
      color: #666;
      font-size: 1.5em;
      margin: 0; }
  table.form td.label {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    padding: 1em;
    padding-right: 0; }
  table.form td.input {
    padding: 1em;
    width: 35em; }
  table.form .info {
    font-size: 0.9em;
    font-style: italic;
    color: #777; }
  table.form input[type=text], table.form textarea {
    font-size: 1em;
    width: 100%; }

.form_buttons {
  padding-top: 1em;
  margin-top: 2em;
  margin-bottom: 0;
  text-align: right;
  border-top: 1px dotted #ccc; }
  .form_buttons input {
    font-size: 1.25em;
    padding: 0.1em 0.5em;
    margin-left: 0.5em; }

form.minisearch {
  float: right;
  text-align: right;
  color: black; }
  form.minisearch fieldset {
    float: right;
    padding: 2px;
    border: 1px solid #000;
    background-color: #eeeeee; }
  form.minisearch .minisearch_text {
    background-color: #eeeeee;
    border: none;
    color: black;
    width: 13em; }
  form.minisearch .minisearch_submit {
    display: inline;
    border: 0;
    background: url(/images/gif/16/magnifier.gif) no-repeat 0% 50%;
    vertical-align: middle;
    padding-left: 16px;
    color: black; }

form.mini_search table {
  padding: 2px;
  border: 1px solid #000;
  background-color: white; }
form.mini_search .mini_search_submit {
  background: white url(/images/gif/16/magnifier.gif) no-repeat 0% 50%;
  border: 0;
  width: 20px; }
form.mini_search .mini_search_text {
  background-color: white;
  border: 0; }

.shy_parent:hover .shy {
  opacity: 0.6; }
  .shy_parent:hover .shy:hover {
    opacity: 1; }

.shy {
  opacity: 0; }

.wiki pre,
.post pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  .wiki pre code,
  .post pre code {
    display: block;
    background: #FFF6DD;
    border: solid 1px;
    border-color: #FFE8A9;
    padding: 0.5em; }
.wiki div.codetitle,
.post div.codetitle {
  background: #FFE8A9;
  color: #614B2A;
  padding: 0.25em;
  font-weight: bold; }
.wiki h1,
.post h1 {
  font-size: 24pt;
  line-height: 1.25em;
  color: #666;
  border-bottom: 2px dotted #999;
  font-family: verdana, bitstream vera sans, helvetica, sans-serif; }
  .wiki h1:first-child, .wiki h1.first,
  .post h1:first-child, .post h1.first {
    margin-top: 0; }
.wiki h2,
.post h2 {
  font-size: 14pt;
  line-height: 1.25em;
  border-bottom: 1px dashed #ccc; }
  .wiki h2:first-child, .wiki h2.first,
  .post h2:first-child, .post h2.first {
    margin-top: 0; }
.wiki h3,
.post h3 {
  font-size: 1.1em;
  margin-top: 0.75em; }
.wiki span.caps,
.post span.caps {
  font-size: 80%; }
.wiki p.left,
.post p.left {
  margin: 0; }
  .wiki p.left img,
  .post p.left img {
    margin-right: 1em; }
.wiki p.right,
.post p.right {
  margin: 0; }
  .wiki p.right img,
  .post p.right img {
    margin-left: 1em; }

.wiki table {
  border-collapse: collapse; }
.wiki td {
  padding: 4px;
  border: 1px solid #CCC; }
.wiki th {
  padding: 4px;
  border: 1px solid #CCC;
  background: #ddd; }
.wiki tr.odd {
  background-color: #F2F2F2; }
.wiki tr.even {
  background-color: white; }
.wiki code {
  background-color: #fff6dd; }
.wiki .wiki_section {
  position: relative; }
  .wiki .wiki_section .editsection {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 18px;
    text-transform: none;
    text-decoration: none;
    font-size: 13px;
    font-variant: normal;
    font-weight: normal;
    font-style: normal; }

.post blockquote {
  border-left: 6px solid #ddd;
  margin-left: 0;
  padding-left: 1.5em;
  font-style: italic; }

div.diff p {
  margin: 0; }

del.diffmod, del.diffins {
  color: #999;
  background-color: #ddd; }

ins.diffmod, ins.diffins {
  background-color: #cfc;
  text-decoration: none;
  color: #000; }

div.formatting_reference {
  margin-top: 0.5em;
  float: right; }

div.wiki_buttons {
  margin-top: 0.5em; }
  div.wiki_buttons input {
    font-size: 1.25em;
    padding: 0.1em 0.5em;
    margin-right: 0.5em; }

a.edit {
  display: inline;
  margin-left: 6px;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: 0 70%;
  padding-left: 16px; }

a.edit:hover {
  opacity: 1 !important; }

h1:hover a.edit,
h2:hover a.edit,
h3:hover a.edit {
  opacity: 0.6; }

.html_editor_wrapper {
  border: 1px solid #666; }

.htmlarea {
  border: 0 !important; }

.htmlarea .toolbar {
  border-right: 0;
  border-bottom: 1px solid #999;
  background: #eee; }
  .htmlarea .toolbar .button {
    background: #eee;
    border-color: #eee; }
    .htmlarea .toolbar .button:hover {
      background: white; }

.htmlarea iframe {
  width: 100% !important;
  border: 0 !important;
  border-top: 1px solid #ddd !important; }
  .htmlarea iframe:focus {
    background-color: #ffe; }

.htmlarea .statusBar {
  border-left: 0 !important;
  background: #eee; }

.statusBarWidgetContainer {
  display: none; }

a.anchor {
  opacity: 0;
  margin-left: 6px;
  text-decoration: none; }
  a.anchor:hover {
    color: #666 !important;
    text-decoration: none; }

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor {
  opacity: 1;
  color: #aaa;
  background: white; }

ul.toc {
  display: table;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  padding: 1em;
  margin: 0; }
  ul.toc,
  ul.toc ul {
    list-style-type: none;
    list-style-image: none;
    padding-left: 1.8em; }
  ul.toc span {
    padding-right: 0.3em; }
  ul.toc li {
    font-size: 0.95em; }

#MB_overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #000 !important; }

#MB_overlay[id] {
  position: fixed; }

#MB_window {
  position: absolute;
  top: 0;
  border: 0 solid;
  text-align: left;
  z-index: 201; }

#MB_window[id] {
  position: fixed!important; }

#MB_frame {
  position: relative;
  background-color: #F3F2EE; }

#MB_header {
  margin: 0;
  height: 2.1em;
  padding: 0.4em;
  background: #999 none repeat scroll 0 0;
  border-bottom: 1px solid #777;
  margin: 0; }

#MB_content {
  overflow: hidden;
  padding: 1em;
  border-top: 1px solid #ccc; }

#MB_caption {
  font: bold 85% "Lucida Grande", Arial, sans-serif;
  text-shadow: #FFF 0 1px 0;
  text-align: left;
  font-size: 2.1em;
  color: white; }

#MB_close {
  display: block;
  position: absolute;
  right: 5px;
  top: 4px;
  padding: 2px 3px;
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  color: #666; }

#MB_close:hover {
  background: transparent;
  color: #000; }

#MB_loading {
  background: #F3F2EE url(/images/spinner-big.gif) 50% 50% no-repeat;
  color: #F3F2EE;
  height: 100px; }

.MB_confirm form {
  text-align: right; }
  .MB_confirm form input {
    margin-left: 1em; }

#MB_frame table.styled {
  border-collapse: collapse; }

#MB_frame table.styled td {
  background: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5em; }

#MB_frame .buttons {
  padding: 1em;
  margin: 1em -1em -1em -1em;
  text-align: right;
  background: #EBEAE6;
  border-top: 1px solid white; }
  #MB_frame .buttons input {
    margin-left: 1em; }
